In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error, accuracy_score

In [2]:
# read the csv file 
df = pd.read_csv('NFLX.csv')

In [3]:
# display the first five rows of the data 
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

In [4]:
# check the information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1009 non-null   object
 1   Open       1009 non-null   float64
 2   High       1009 non-null   float64
 3   Low        1009 non-null   float64
 4   Close      1009 non-null   float64
 5   Adj Close  1009 non-null   float64
 6   Volume     1009 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 55.3+ KB

In [5]:
# describe the data
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1.009000e+03
mean,419.059673,425.320703,412.374044,419.000733,419.000733,7.570685e+06
std,108.537532,109.262960,107.555867,108.289999,108.289999,5.465535e+06
min,233.919998,250.649994,231.229996,233.880005,233.880005,1.144000e+06
25%,331.489990,336.299988,326.000000,331.619995,331.619995,4.091900e+06
50%,377.769989,383.010010,370.880005,378.670013,378.670013,5.934500e+06
75%,509.130005,515.630005,502.529999,509.079987,509.079987,9.322400e+06
max,692.349976,700.989990,686.090027,691.690002,691.690002,5.890430e+07

In [15]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [16]:
df.drop('Date', axis=1, inplace=True)

In [17]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [20]:
# separate the data into features and target
X = df.drop('Close', axis=1)
y = df.Close

In [21]:
# split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

In [22]:
# shapes of X_train, X_test, y_train, y_test
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(807, 5) (202, 5) (807,) (202,)

### Building the model

In [23]:
# LinearRegression initialization
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [30]:
# predict the new values
y_pred = lr.predict(X_test)

In [31]:
print("Mean Sqaured Error: ", mean_squared_error(y_test, y_pred))

Mean Sqaured Error:  5.0739033551558705e-26

In [34]:
print(lr.score(X_test, y_test))

1.0

In [35]:
lr.score(X_train, y_train)

1.0

In [36]:
data = pd.DataFrame({"Loss":(y_pred-y_test)})

In [38]:
data.head(25)

              Loss
628   5.684342e-14
631   0.000000e+00
741   0.000000e+00
514  -2.842171e-13
365   1.705303e-13
656   1.136868e-13
657   0.000000e+00
530   0.000000e+00
321  -1.705303e-13
70   -3.410605e-13
793   0.000000e+00
371  -2.273737e-13
986   1.136868e-13
456  -3.410605e-13
247  -1.136868e-13
757   0.000000e+00
751   0.000000e+00
983   2.273737e-13
298   1.705303e-13
101   0.000000e+00
1002  6.821210e-13
1000  2.273737e-13
213  -1.705303e-13
237   5.115908e-13
594  -5.684342e-14